* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 80%;
	margin: 0px auto;
	background-color: #ebebeb;
}

hr {
	background-color: #7d97ad;
	border: none;
	height: 2.5px;
}

footer {
	padding: 20px 40px;
	margin-top: 30px;
	background-color: #fff;
}

.logo {
	height: 70px;
	width: 70px;
	margin: 20px 15px;
}

.header_box {
	display: flex;
	justify-content: space-between;
}


.main_title {
	font-size: 50px;
	text-align: right;
	font-weight: lighter;
	padding-top: 10px;
	margin: 0;
}

.sub_title {
	text-align: right;
	font-weight: lighter;
	margin: 0;
}

.clearfix {
	clear: both;
}

.main_image {
	width: 100%;
}

.divide {
	display: flex;
	align-items: center;
	padding: 13px 0px;
}

.section_title {
	display: flex;
	flex-grow: 0;
	color: #000;
	font-weight: 500;
	font-size: 30px;
	font-family: "Encode Sans condensed", sans-serif;
}

.divider {
	display: flex;
	flex-grow: 1;
	height: 2px;
	background-color: #000;	
}

.project_link {
	text-decoration: none; color: #000; 
}

.project_link:hover,
.project_link:active {
	color: #515a5a;
}

.project_image {
	width: 100%;
	display: block;
	box-shadow: 3px 3px 5px 6px #ddd;
}

.project_title {
	margin: 5px 0px 0px 0px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	font-family: "Encode Sans condensed", sans-serif;
	letter-spacing: 0.06em;
}

.project_content {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	line-height: 1.6em;
	margin-top: 8px;
	text-align: center;
}


.flex_container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 33%;
	display: flex;
	padding: 0px 15px;
}

.footer_title {
	font-family: 'Dosis', sans-serif;
	color: #6b6b6b;
	font-weight: 800;
	font-size: 15px;
}

.footer_contact {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 28px;
	color: #7e7e7e;
}
